{% extends "header.html" %}
{% load static %}

{% block content %}
	<hr size="1">
	<style>
		h6 {
		font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */ 
		font-size: 20%%; /* Размер шрифта в процентах */ 
		}
		.close:hover,
		.close:focus {color: black; text-decoration: none; cursor: pointer;}
		.close_check:hover,
		.close_check:focus {color: black; text-decoration: none; cursor: pointer;}
		.close_edit:hover,
		.close_edit:focus {color: black; text-decoration: none; cursor: pointer;}
	</style>

<table class="table table-sm">
	<tr>
		<form id="fire_find">
		{% csrf_token %}
		<th style="width: 30%"><input class="form-control address_dadata" placeholder="адрес" type="text" name="fire_address" maxlength="50" id="fire_address"></td>
		<th style="width: 4"><input class="form-control" placeholder="Заводской №" type="number" name="fire_serial" maxlength="50" id="fire_serial"></td>
		<th style="width: 9%"><input class="form-control" placeholder="Инвентарный №" type="text" name="fire_inventory" maxlength="50" id="fire_inventory"></td>
		<th style="width: 3%" id="commitfield"><input class="btn btn-dark" style='' id="fire_submit" type="submit" value="fire_find"></td>
		</form>
	</tr>
</table>
<button id="myBtn" >Добавить огнетушитель</button>  <button id="Btnfirejornal" >Выгрузить журнал в Excel</button>

<!-- Modal content -->
<div id="myModal" class="modal" style = "display: none;  z-index: 1;">
  <div class="modal-content" style = "margin: 100px auto; padding: 4px; width: 750px; height: 400px; background-color:Seashell; ">
	<span class="close" style="right: 0;">&times;</span>
	<h3 style="text-align: center;">Описание огнетушителя</h3>
	<form id="addfireform">
	<input id="addres_modal" type="text" class="address_dadata" placeholder="Географический адрес" required style="width: 630px;">адрес<br>
	<input id="room_modal" type="text" placeholder="помещение" style="width: 630px; ">помещение<br>
	<input id="comandor_modal" type="text" placeholder="Ответственный" style="width: 630px;" value="{{request.user.email}}" >ответственный<br>
	<input id="serial_modal" type="text" placeholder="заводской номер" style="width: 315px;">
	<input id="inventory_modal" type="text" placeholder="инвентарный номер" style="width: 311px;" >номера<br>
	<input id="weight_modal" type="number" placeholder="полный вес" style="width: 180px;"> заводской вес огнетушителя<br>
	<select size="5" id="firetype_modal" name="firetype" required style="width: 210px;">
		<option value="carbonic" selected>Углекислотный</option>
		<option value="powdery">Порошковый</option>
		<option value="water">Водный</option>
	</select>

	<select size="5" id="firestatus_modal" name="firestatus" required style="width: 200px;">
		<option value="ready" selected>готов</option>
		<option value="backup">на складе</option>
		<option value="lost">потерян</option>
		<option value="empty">разряжен</option>
		<option value="broken">сломан</option>
	</select>

	<select size="5" id="fireclass_modal" multiple name="fireclass" required style="width: 215px;">
		<option value="fireA">A Твёрдые горючие</option>
		<option value="fireB" selected>B  Горючие жидкости</option>
		<option value="fireD">D Горючие металлы</option>
		<option value="fireC">C Газообразные горючие</option>
		<option value="fireE">E Электроустановки</option>
	</select><br><br>
	<input id="addfire_modal" type="submit" value="Добавить" onclick="addfire();" >
  
	</form>
  </div>
</div>
	

<!-- Modal content add check -->
<div id="modaladdcheck" class="modal" style = "display: none;  z-index: 1;">
  <div class="modal-content" style = "margin: 100px auto; padding: 4px; width: 550px; height: 400px; background-color:Seashell; ">
    <span class="close_check" style="right: 0; font-size: 150%;">&times;</span>
    <h3 style="text-align: center;">Проверка огнетушителя</h3>
      <form id="addfirecheck">
      <input id="fireid" type="number" disabled style="width: 60px;"><br>
      <input id="comandor_check" type="text" placeholder="Ответственный" style="width: 500px;" value="{{request.user.email}}" ><br>
       Огнетушитель<br>
      <select size="2" id="firecheck_type" required style="width: 150px;">
        <option value="chardged" selected>Заправлен</option>
        <option value="checked">Проверен</option>
      </select><br><br>
      <input id="firedata_check" type="date" required style="width: 150px;"> Дата проверки<br><br>
      <input id="firechecked_weght" type="number" placeholder="текущий вес" style="width: 150px;"> Вес огнетушителя<br><br>
      <input id="addfire_check" type="submit" value="Проверил" onclick="addfirecheck();" >
      </form>

  </div>
</div>


<!-- Modal content edit fire -->
<div id="modaleditfire" class="modal" style = "display: none;  z-index: 1;">
  <div class="modal-content" style = "margin: 100px auto; padding: 4px; width: 750px; height: 400px; background-color:Seashell; ">
	<span class="close_edit" style="right: 0;">&times;</span>
	<h3 style="text-align: center;">Редактирование огнетушителя</h3>
	<form id="editfireform">
	<input id="addres_modal" type="text" class="address_dadata"  placeholder="Географический адрес" required style="width: 630px;">адрес<br>
	<input id="room_modal" type="text" placeholder="помещение" style="width: 630px; ">помещение<br>
	<input id="comandor_modal" type="text" placeholder="Ответственный" style="width: 630px;" value="{{request.user.email}}" >ответственный<br>
	<input id="serial_modal" type="text" placeholder="заводской номер" style="width: 315px;">
	<input id="inventory_modal" type="text" placeholder="инвентарный номер" style="width: 311px;" >номера<br>
	<input id="weight_modal" type="number" placeholder="полный вес" style="width: 180px;"> заводской вес огнетушителя<br>
	<select size="5" id="firetype_modal" name="firetype" required style="width: 210px;">
		<option value="carbonic" selected>Углекислотный</option>
		<option value="powdery">Порошковый</option>
		<option value="water">Водный</option>
	</select>

	<select size="5" id="firestatus_modal" name="firestatus" required style="width: 200px;">
		<option value="ready" selected>готов</option>
		<option value="backup">на складе</option>
		<option value="lost">потерян</option>
		<option value="empty">разряжен</option>
		<option value="broken">сломан</option>
	</select>

	<select size="5" id="fireclass_modal" multiple name="fireclass" required style="width: 215px;">
		<option value="fireA">A Твёрдые горючие</option>
		<option value="fireB">B  Горючие жидкости</option>
		<option value="fireD">D Горючие металлы</option>
		<option value="fireC">C Газообразные горючие</option>
		<option value="fireE">E Электроустановки</option>
	</select><br><br>
	<input id="editfire_modal" type="submit" value="Изменить" onclick="editfire();" ><input id="fireid" type="number" disabled style="width: 60px;"><br>
  
	</form>
  </div>
</div>


	
<div style = "display: table; margin: 0 auto;">
	{% for key, value in firedic.items %}
	<div style =" display: table-row;  ">

		<div style ="height: 150px; width: 550px; background: Salmon; display: table-cell; border-top-style: solid; padding: 0px 2px;">
			<a class="edit_fire" id="{{key}}"><img src="/static/devicelist/gear.png" width="22" height="22"></a> Тип: {{value.fire.1}}&nbsp &nbsp &nbsp Полная масса: {{value.fire.5}}кг&nbsp &nbsp &nbspСтатус: {{value.fire.6}}&nbsp &nbsp &nbspКласс:{{value.fire.9}}<br>
			{% if value.fire.2 %}Заводской номер {{value.fire.2}}{% endif %} {% if value.fire.3 %}Инвентарный: {{value.fire.3}}{% endif %} <br>
			ответственный: {{value.fire.7}}<br>
			адрес: {{value.fire.8}} <br>
			Помещение: {{value.fire.4}} 
<input id=fireid{{key}} value='{"type":"{{value.fire.1}}", "serial":"{{value.fire.2}}", "inventory":"{{value.fire.3}}", "fullweight":"{{value.fire.5}}", "status":"{{value.fire.6}}", "fireclass":"{{value.fire.9}}", "comandor":"{{value.fire.7}}", "address":"{{value.fire.8}}","room":"{{value.fire.4}}" }' hidden >
		</div>
		<div id="firecheckid{{key}}" style ="height: 150px; width: 550px; background: AntiqueWhite; display: table-cell; border-top-style: solid; padding: 0px 2px; ">
			<a class="add_check" id="{{key}}"><img src="/static/devicelist/plus_button.png" width="22" height="22"></a><br>
			{%for vvalue in value.check %}
				{% if vvalue.1 %}
				заправлен:{{ vvalue.1|date:"d M Y" }} {% endif %}	{% if vvalue.2 %}проверен: {{ vvalue.2|date:"d M Y" }}{% endif %}
				{% if vvalue.3 %}вес:{{vvalue.3}}{% endif %} ответственный:{{vvalue.4}}<br>
			{% endfor %}
		</div>

	</div>

	{% endfor %}
</div>


<br>
<link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@19.4.2/dist/css/suggestions.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@19.4.2/dist/js/jquery.suggestions.min.js"></script>
<script src="{% static 'devicelist/js/fire.js' %}"></script>
{% endblock %}