{% extends "header.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
<div id="argus_sync" class="row d-flex justify-content-center">
<div class=" col-xl-6">

<table class="table table-bordered table-sm" id="tickets_table" cellpadding="0" cellspacing="0">
	<thead>
		<tr>
			<th class="text-center" scope="col">ip</th>
			<th class="text-center" scope="col">host</th>
			<th class="text-center" scope="col">argus</th>
			<th class="text-center" scope="col">value</th>
		</tr>
	</thead>
	<tbody>
	{% for key, value in update.items %}
		<tr class="table-warning" id="str_{{ key }}" value="warning">
			<td class="text-center align-middle" style="width: 18%">{{ key }}</td>
			<td class="text-center align-middle" style="width: 41%; text-align-last: right">{{ value.host.title }} <br><br> {{ value.host.model }}</td>
			<td class="text-center align-middle" style="width: 41%; text-align-last: left">{{ value.argus.title }}<br>{{ value.argus.hostname }}<br>{{ value.argus.model }}</td>
			<td class="text-center align-middle" style="width: 7%; text-align-last: center">title<br>hostname<br>model</td>
		</tr>
	{% endfor %}
	{% for key, value in insert.items %}
		<tr class="table-success" id="str_{{ key }}" value="warning">
			<td class="text-center align-middle" style="width: 18%">{{ key }}</td>
			<td class="text-center align-middle" style="width: 41%">{{ value.host.title }} <br> {{ value.host.model }}</td>
			<td class="text-center align-middle" style="width: 41%">{{ value.argus }}</td>
		</tr>
	{% endfor %}
	{% for key, value in delete.items %}
		<tr class="table-danger" id="str_{{ key }}" value="warning">
			<td class="text-center align-middle" style="width: 18%">{{ key }}</td>
			<td class="text-center align-middle" style="width: 41%">{{ value.host }}</td>
			<td class="text-center align-middle" style="width: 41%">{{ value.argus.title }} <br> {{ value.argus.hostname }} <br> {{ value.argus.model }}</td>
		</tr>
	{% endfor %}
	
	</tbody>
</table>


</div>
</div>
</div>

<!-- {% comment %} <script src="{% static 'devicelist/js/admin.js' %}"></script> {% endcomment %}
{% comment %} <script type="text/javascript" language="javascript" src="{% static 'js/tablefilter/tablefilter.js' %}"></script>   {% endcomment %} -->
<script>
	document.title = `{{ lenght.update }}/{{ lenght.insert }}/{{ lenght.delete }}`;
</script>
{% endblock %}

